<table id="data-table" class="table table-hover" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>
            {{ translate("Username") }}
        </th>
        <th>
            {{ translate("Firstname") }}
        </th>
        <th>
            {{ translate("Lastname") }}
        </th>
        <th>
            {{ translate("Options") }}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for users in user_array %}
        <tr>
            <td>
                {{ users.getUsername() | raw | convert_encoding('UTF-8', 'ISO-8859-1') }}
            </td>
            <td>
                {{ users.getFirstName() | raw | convert_encoding('UTF-8', 'ISO-8859-1') }}
            </td>
            <td>
                {{ users.getLastName() | raw | convert_encoding('UTF-8', 'ISO-8859-1') }}
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <form action="" method="post">
                        <input type="hidden" value="{% if users.getMute() %}unmute{% else %}mute{% endif %}" name="method" />
                        <input type="hidden" value="{{  users.getId() }}" name="userid" />
                        <input type="submit" value="{% if users.getMute() %}{{ translate("Unmute") }}{% else %}{{ translate("Mute") }}{% endif %}" class="btn btn-default" />
                    </form>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>