<!-- school overview with verticle menu -->
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="{{ url("admin_courses_list") }}"><i class="fa fa-list fa-fw"></i> {{ translate("Courses") }}</a></li>
        <li  class="active"><a href="{{ url("admin_courses_group_list") }}"><i class="fa fa-list fa-fw"></i> {{ translate("Groups") }}</a></li>
				<li><a href="{{ url("add_cours") }}"><i class="fa fa-plus fa-fw"></i> {{ translate("Add Cours") }}</a></li>
        <li><a href="{{ url("add_cours_group") }}"><i class="fa fa-plus fa-fw"></i> {{ translate("Add Cours Group") }}</a></li>
			</ul>
		</div>
		<div class="col-md-9">
			<table id="school-table" class="table table-hover" cellspacing="0" width="100%">
			<thead>
			<tr>
				<th>
					{{ translate("ID") }}
				</th>
				<th>
					{{ translate("Name") }}
				</th>
				<th>
					{{ translate("Student Lead") }}
				</th>
				<th>
					{{ translate("Options") }}
				</th>
			</tr>
			</thead>
			<tbody>
			 {% for courses in courses_array %}
			<tr>
				<td>
					{{ courses.getID() }}
				</td>
				<td>
					{{ courses.getName() }}
				</td>
				<td>
					{{ courses.getLead().getUser().getFirstName() | raw | convert_encoding('UTF-8', 'ISO-8859-1') }} {{ courses.getLead().getUser().getLastName() | raw | convert_encoding('UTF-8', 'ISO-8859-1') }}
				</td>
				<td>
					<div class="btn-group" role="group" aria-label="...">
						<a href="/admin/cours/group/edit/{{ courses.getID() }}" class="btn btn-default">{{ translate("Edit") }}</a>
						<a href="/admin/cours/group/delete/{{ schools.getID() }}" class="btn btn-default">{{ translate("Delete") }}</a>
					</div>
				</td>
			</tr>
			 {% endfor %}
			</tbody>
			</table>
		</div>
	</div>
</div>
<!-- init table -->
<script>
$(document).ready(function() {
    $('#school-table').dataTable( {
        "language": {
            "lengthMenu": "{{ translate("Show _MENU_ courses groups per page") }}",
            "zeroRecords": "{{ translate("No courses groups found") }}",
            "info": "{{ translate("Showing page _PAGE_ of _PAGES_") }}",
            "infoEmpty": "{{ translate("Tipp: Click on 'Add Course Group' to add a course group :-)") }}",
            "infoFiltered": "{{ translate("(filtered from _MAX_ total records)") }}",
            "search" : "{{ translate("Search") }}"
        }
    } );
} );
</script>
