<!-- permission overview with verticle menu -->
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
         		<li class="active"><a href="{{ url("admin_permissions_list") }}"><i class="fa fa-list fa-fw"></i> {{ translate("Permissions") }}</a></li>
       			<li><a href="{{ url("add_permission") }}"><i class="fa fa-plus fa-fw"></i> {{ translate("Add Permission") }}</a></li>
			</ul>
		</div>
		<div class="col-md-9">
			<table id="data-table" class="table table-hover" cellspacing="0" width="100%">
			<thead>
			<tr>
				<th>
					{{ translate("ID") }}
				</th>
				<th>
					{{ translate("Name") | raw | convert_encoding('UTF-8', 'ISO-8859-1')  }}
				</th>
				<th>
					{{ translate("Permissions") }}
				</th>
				<th>
					{{ translate("Options") }}
				</th>
			</tr>
			</thead>
			<tbody>
			 {% for permissions in permissions_array %}
			<tr>
				<td>
					{{ permissions.getID() }}
				</td>
				<td>
					{{ permissions.getName() | raw | convert_encoding('UTF-8', 'ISO-8859-1') }}
				</td>
				<td>
					<a href="/admin/access_groups/permissions/{{ permissions.getID() }}" class="btn btn-default">{{ translate("Details") }}</a>
				</td>
				<td>
					<div class="btn-group" role="group" aria-label="...">
						<a href="/admin/access_groups/edit/{{ schools.getID() }}" class="btn btn-default">{{ translate("Edit") }}</a>
						<a href="/admin/access_groups/delete/{{ schools.getID() }}" class="btn btn-default">{{ translate("Delete") }}</a>
					</div>
				</td>
			</tr>
			 {% endfor %}
			</tbody>
			</table>
		</div>
	</div>
</div>
<!-- init table -->
<script>
$(document).ready(function() {
    $('#data-table').dataTable( {
        "language": {
            "lengthMenu": "{{ translate("Show _MENU_ permissions per page") }}",
            "zeroRecords": "{{ translate("No permission found") }}",
            "info": "{{ translate("Showing page _PAGE_ of _PAGES_") }}",
            "infoEmpty": "{{ translate("Tipp: Click on 'Add Permission' to add a permission.") }}",
            "infoFiltered": "{{ translate("(filtered from _MAX_ total records)") }}",
            "search" : "{{ translate("Search") }}"
        }
    } );
} );
</script>
